!/edu.harvard.i2b2.crc
/edu.harvard.i2b2.crc/*
!/edu.harvard.i2b2.crc/src
/edu.harvard.i2b2.crc/src/*
!/edu.harvard.i2b2.crc/src/server
/edu.harvard.i2b2.crc/src/server/*
!/edu.harvard.i2b2.crc/src/server/edu
/edu.harvard.i2b2.crc/src/server/edu/*
!/edu.harvard.i2b2.crc/src/server/edu/harvard
/edu.harvard.i2b2.crc/src/server/edu/harvard/*
!/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2
/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2/*
!/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2/crc
/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2/crc/*
!/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2/crc/dao
/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2/crc/dao/*
!/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2/crc/dao/setfinder
/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2/crc/dao/setfinder/*
!/edu.harvard.i2b2.crc/src/server/edu/harvard/i2b2/crc/dao/setfinder/QueryResultSHRINEBreakdownGenerator.java


/edu.harvard.i2b2.SHRINEQEP/bin/*
/edu.harvard.i2b2.SHRINEQEP/classes/*
/edu.harvard.i2b2.SHRINEQEP/dist/*
/edu.harvard.i2b2.SHRINEQEP/genlib/*
/edu.harvard.i2b2.SHRINEQEP/test-reports/*
/edu.harvard.i2b2.SHRINEQEP/etc/spring/*
/edu.harvard.i2b2.SHRINEQEP/etc/scripts/*
/edu.harvard.i2b2.SHRINEQEP/etc/xsd_1.1/*